<div class="card">
  <div class="card-body">
    <div class="connection">
      <div class="time departure">
        {{viewModel.connection.from?.departure | date: 'HH:mm'}}
      </div>
      <div class="connectionInfo">
        <app-connection-sections [viewModel]="viewModel"></app-connection-sections>
        <app-connection-details [viewModel]="viewModel"></app-connection-details>
      </div>
      <div class="time arrival">
        {{viewModel.connection.to?.arrival | date: 'HH:mm'}}
      </div>
    </div>
  </div>
</div>
