<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #212121;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <span class="me-1">{{ title }}</span>
        </a>
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link text-white"
                 routerLink="/"
                 routerLinkActive="active"
                 [routerLinkActiveOptions]="{exact: true}"
                 #rlaHome="routerLinkActive"
                 [attr.aria-current]="rlaHome.isActive ? 'page' : null">
                <i class="fas fa-home mr-1"></i><span>Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white"
                 routerLink="/about"
                 routerLinkActive="active"
                 #rlaAbout="routerLinkActive"
                 [attr.aria-current]="rlaAbout.isActive ? 'page' : null">
                <i class="far fa-question-circle mr-1"></i>About
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
